<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<div id="add_product" th:fragment="f_add_product">
		<form method="post" action="#" th:action="@{/product}"
			th:object="${productDto}">
			<input id="product_name" placeholder="Product Name" required
				type="text" th:field="*{name}" /> <input id="product_code"
				placeholder="Product Code" required type="text" th:field="*{code}" />
			<input id="product_cost" placeholder="Product Cost" required
				type="text" th:field="*{cost}" /> <input id="product_qty"
				placeholder="Product Qty." required type="text"
				th:field="*{quantity}" /> <input id="product_price"
				placeholder="Product Price" required type="text" th:field="*{price}" />
			<input type="submit" value="Add Product">
		</form>
	</div>
</html>